@use 'sass:math';

$TOTALLENGH: 12;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.date-selector {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    padding: 0 10px;
    transform: translate(-50%, -50%);
    // border: 1px solid red;

    > div {
        flex: 1;
        position: relative;
        height: 100%;
        text-align: center;
        overflow: hidden;

        ul {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 0;
            list-style: none;
            transform-style: preserve-3d;
            li {
                position: absolute;
                top: -22.5px;
                left: 0;
                width: 100%;
                height: 45px;
                line-height: 45px;
                font-size: 18px;
                color: #666;
                // border: 1px solid blue;
                user-select: none;
                backface-visibility: hidden;
            }
        }
    }
}

.highLight {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 35px;
    padding: 0 2px;
    transform: translate(0, -50%);
    pointer-events: none;
}

.highLight__inner {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2);
}
